## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/bundle-stats.html
/preact.js*
/web-components.js*
/manager.js*
/addon-docs*
/addons.js*
/api.js*
/core-events*
/theming*